body{
    -webkit-text-size-adjust: none;
    margin:0;
}
p{
    margin:0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(img/bg.jpg) center no-repeat;
    background-size: cover;
}
.header{
    font-family: 'SFUIText-Bold';
}

@font-face {
    font-family: 'SFUIText-Bold';
    src:url('fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SF-UI-Text-Bold.otf')  format('opentype'),
        url('fonts/SFUIText-Bold.woff') format('woff'),
        url('fonts/SFUIText-Bold.ttf')  format('truetype'),
        url('fonts/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Medium';
    src:url('fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFUIText-Medium.otf')  format('opentype'),
        url('fonts/SFUIText-Medium.woff') format('woff'),
        url('fonts/SFUIText-Medium.ttf')  format('truetype'),
        url('fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Regular';
    src:url('fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFUIText-Regular.otf')  format('opentype'),
        url('fonts/SFUIText-Regular.woff') format('woff'),
        url('fonts/SFUIText-Regular.ttf')  format('truetype'),
        url('fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SFUIText-Heavy';
    src:url('fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFUIText-Heavy.otf')  format('opentype'),
        url('fonts/SFUIText-Heavy.woff') format('woff'),
        url('fonts/SFUIText-Heavy.ttf')  format('truetype'),
        url('fonts/SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

